.boxed {
    background-color: #fff;
}

.container{
	width: 100% !important;
}

.mktoForm{
	width: 100% !important;
}

.page-title{
	margin-left: 10px !important;
}

.marketo-form{
	position: inherit;
	left: -2.2em;
	margin-bottom: 15px;
}