<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-widget-title">Join the Club</h3>
                <p>Go behind the curtain with Kirkendoll to receive insider tips on club management, acquisition, and more.</p>
                <div>
                    <script src="//app-ab03.marketo.com/js/forms2/js/forms2.min.js"></script>
                    <form id="mktoForm_1055"></form>
                    <script>MktoForms2.loadForm("//app-ab03.marketo.com", "634-KAC-055", 1055);</script>
                </div>
                <!--<div class="input-group" action='/services/saveNewsletterSignup.php'>
                    <form role="form" id='newsletterForm' name='subscribeForm' id='subscribeForm' action='/services/saveNewsletterSignup.php'>
                     <input type="hidden" name="form_name" value="subscribe">
                        <input type="text" class="form-control form-subscribe" placeholder="First Name" id="name" name="name">
                        <input type="text" class="form-control form-subscribe" placeholder="Email Adress" id="email"name="email">
                        <span class="input-group-btn">
                            <button class="btn btn-ar btn-primary" type="button" button type="submit">Join</button>
                        </span>
                    </form>
                </div><!-- /input-group -->
                <h3 class="footer-widget-title">Sitemap</h3>
                <ul class="list-unstyled three_cols">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about_us.html">About Us</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="clubs.html">Clubs</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="charity.html">Charity</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                	<h3 class="footer-widget-title">Recent Posts</h3>
                    <iframe style="" src="../../wordpress/#recent-posts-2" allowfullscreen="" scrolling="no" frameborder="0" height="100%" width="100%" style="filter: invert(75%);"></iframe>
                    
                    <!--<div class="media">
                        <!--
                        <a class="pull-left" href="#"><img class="media-object" src="" width="75" height="75" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#"></a></h4>
                            <small></small>
                        </div>
                    </div>-->
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Our Properties</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="penthouse_baton_rouge.html" class="thumbnail"><img src="<%= assets %>img/PHBR_Logo_small.png" class="img-responsive" alt="Penthouse Club Baton Rouge"></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="penthouse_new_orleans.html" class="thumbnail"><img src="<%= assets %>img/PHNO_Logo_small.png" class="img-responsive" alt="Penthouse Club New Orleans"></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="crazy_horse_gonzales.html" class="thumbnail"><img src="<%= assets %>img/CHG_Logo_small.png" class="img-responsive" alt="Crazy Horse Gonzales"></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="crazy_horse_port_allen.html" class="thumbnail"><img src="<%= assets %>img/CHPA_Logo_small.png" class="img-responsive" alt="Crazy Horse Port Allen"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
