<nav class="<%= navbar_class %>" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="<%= navbar_brand_class %>" href="index.html">Kirkendoll Management</a>
        </div> <!-- navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <!--<div class="pull-right">
        
            <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-bars"></i></a>
        </div>!-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="<%= navbar_nav_class %>">
                <li>
                    <a href="index.html" class="active">Home</a>
                </li>
                <li>
                    <a href="about_us.html" class="active">About Us</a>
                </li>
                <li>
                    <a href="clubs.html" class="active">Clubs</a>
                </li>    
                <li>
                    <a href="blog.html" class="active">Blog</a>
                </li>
                <li>
                    <a href="contact.html" class="active">Contact</a>
                </li>
                <!--<li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Services</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="">Consulting</a></li>
                        <li><a href="">Management</a></li>
                        <li><a href="">Brokerage</a></li>
                        <li><a href="">Appraisals</a></li>
                        <li><a href="">Technology</a></li>
                     </ul>                
                 </li>             -->   
             </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>