<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Charity</h1>

        <ol class="breadcrumb pull-right">
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="media">
              <a class="thumbnail pull-left" href="http://frcbayouregional.com/">
                <img class="media-object" src="<%= assets %>img/Charities/F.I.R.S.T_Robot_Comp.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">F.I.R.S.T. Robotics Competition Bayou Regional</h2>
                <p>Each spring, the FRC Bayou Regional competition gives kids a chance to get real-world engineering experience. Teams of 25 students work together to raise funds, build task-solving robots, and create brands for their bots.</p>
                <p>Kirkendoll Management supports FRC Bayou Regional by putting our money where our clubs are (our golf clubs, that is). Each year, the Kirkendoll team competes in the annual FRC golf tournament, whose proceeds support the robotics competition.</p>
                <p><strong>Website:</strong> <a href="http://frcbayouregional.com/">frcbayouregional.com</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://paytonsplayitforward.com/">
                <img class="media-object" src="<%= assets %>img/Charities/Paytons_PlayIt_Forward.jpg" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Payton's Play It Forward Foundation </h2>
                <p>Each year, Saints head coach Sean Payton’s foundation hosts a “Black and Gold” Gala to raise funds for family and child welfare organizations across Louisiana, Alabama, Mississippi, and Texas.</p>
                <p>Kirkendoll Management is proud to be an NFC Championship-level sponsor of this community-supporting event.</p>
                <p><strong>Website:</strong> <a href="http://paytonsplayitforward.com/">paytonsplayitforward.com</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://www.crossroadsla.com/creativeexpressions.php">
                <img class="media-object" src="<%= assets %>img/Charities/Crossroads/DSCF0568_small.jpg" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Crossroads Louisiana’s Creative Expressions New Orleans (C.E.N.O)</h2>
                <p>Creative Expressions provides arts education, instruction, and a place for artistic expression to developmentally disabled adults in the New Orleans area. Twice-weekly art classes, taught by qualified instructors, are just one aspect of Crossroads’  mentorship of this community.</p>
                <p>As longtime supporters of the New Orleans arts community, Kirkendoll Management donates proceeds from our annual gala to C.E.N.O. each year.</p>
                <p><strong>Website:</strong> <a href="http://www.crossroadsla.com/creativeexpressions.php">crossroadsla.com</a></p>
              </div>
            </div>
        </div>
    </div> <!-- row -->
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
