<!-- build:include layout/header.html --><!-- /build -->


<header class="main-header">
    <div class="container">
        <h1 class="page-title">Charity</h1>

        <ol class="breadcrumb pull-right">
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
        <p>Kirkendoll Management is glad to support charitable organizations in the region. Our hope is that by contributing both financial assistance and our time and energy, we can help our partners solve problems.</p>
        <p style="margin-bottom: 30px;">By bringing greater awareness and attention to these issues, we’ll help make the South a better place to live. Here are a few of the organizations we regularly support.</p>
        </div>
        <div class="col-md-12">
            <div class="media">
              <a class="thumbnail pull-left" href="http://www.abriendomentes.org/">
                <img class="media-object" src="<%= assets %>img/Charities/Abriendo_Mentes_Web.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Abriendo Mentes</h2>
                <p>A nonprofit organization empowering the residents of Guanacaste, Costa Rica to access enhanced education and employment opportunities. </p>
                <p><strong>Website:</strong> <a href="http://www.abriendomentes.org/">abriendomentes.org</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://www.covenanthouseno.org">
                <img class="media-object" src="<%= assets %>img/Charities/Covenant_House_Web.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Covenant House</h2>
                <p>The Crisis Center is open 24 hours a day, seven days a week, 365 days a year. Help begins with a hot meal, clean clothes, a shower, a bed and medical care. Only after these immediate needs are met does the Covenant House staff begin to address the more complex problems of these youth in crisis.</p>
                <p><strong>Website:</strong> <a href="http://www.covenanthouseno.org/">covenanthouseno.org</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://www.crossroadsla.com/creativeexpressions.php">
                <img class="media-object" src="<%= assets %>img/Charities/LA_Creative_Expressions.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Crossroads Louisiana’s Creative Expressions New Orleans (C.E.N.O)</h2>
                <p>Creative Expressions provides arts education, instruction, and a place for artistic expression to developmentally disabled adults in the New Orleans area. Twice-weekly art classes, taught by qualified instructors, are just one aspect of Crossroads’  mentorship of this community.</p>
                <p>As longtime supporters of the New Orleans arts community, Kirkendoll Management donates proceeds from our annual gala to C.E.N.O. each year.</p>
                <p><strong>Website:</strong> <a href="http://www.crossroadsla.com/creativeexpressions.php">crossroadsla.com</a></p>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://frcbayouregional.com/">
                <img class="media-object" src="<%= assets %>img/Charities/F.I.R.S.T_Robot_Comp.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">F.I.R.S.T. Robotics Competition Bayou Regional</h2>
                <p>Each spring, the FRC Bayou Regional competition gives kids a chance to get real-world engineering experience. Teams of 25 students work together to raise funds, build task-solving robots, and create brands for their bots.</p>
                <p>Kirkendoll Management supports FRC Bayou Regional by putting our money where our clubs are (our golf clubs, that is). Each year, the Kirkendoll team competes in the annual FRC golf tournament, whose proceeds support the robotics competition.</p>
                <p><strong>Website:</strong> <a href="http://frcbayouregional.com/">frcbayouregional.com</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://www.thegoodshepherdschool.org/">
                <img class="media-object" src="<%= assets %>img/Charities/Good_Shepered_Web.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">The Good Shepered School</h2>
                <p>Opened in 2001 as part of the vision of the late Fr. Harry Tompson, S.J., the Good Shepherd School provides an excellent education, paid for by benefactors, in a safe and nurturing environment to at-risk, under-served children in New Orleans.</p>
                <p><strong>Website:</strong> <a href="http://www.thegoodshepherdschool.org/">thegoodshepherdschool.org</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://www.raceforthecure.org/">
                <img class="media-object" src="<%= assets %>img/Charities/KOMEN_WEB.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Komen Race For The Cure</h2>
                <p>The Komen Race for the Cure® Series raises significant funds and awareness for the fight against breast cancer, celebrates breast cancer survivorship, and honors those who have lost their battle with the disease.</p>
                <p><strong>Website:</strong> <a href="http://www.raceforthecure.org/">raceforthecure.org</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://www.koto.org/">
                <img class="media-object" src="<%= assets %>img/Charities/KOTO_FM_Web.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">KOTO Community Radio </h2>
                <p>Since 1975, KOTO has provided the Telluride region with high-quality, commercial-free, non-underwritten community radio. Listener-supported KOTO’s radio mission is to entertain, educate, and inform while reflecting the needs, desires, and diversity of our community.</p>
                <p><strong>Website:</strong> <a href="http://www.koto.org/">koto.org</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://www.lacrossethenations.org/">
                <img class="media-object" src="<%= assets %>img/Charities/Lacrosse_Nations_Web.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Lacrosse the Nations</h2>
                <p>Lacrosse the Nations unifies the lacrosse community to sustainably improve education and health while creating joy and opportunity for children in need.</p>
                <p><strong>Website:</strong> <a href="http://www.lacrossethenations.org/">lacrossethenations.org</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://www.lls.org/">
                <img class="media-object" src="<%= assets %>img/Charities/Leukemia_Lymphoma_Web.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Leukemia & Lymphoma Society</h2>
                <p>The Leukemia & Lymphoma Society (LLS) is the world's largest voluntary health agency dedicated to blood cancer. The LLS mission: Cure leukemia, lymphoma, Hodgkin's disease and myeloma, and improve the quality of life of patients and their families.</p>
                <p><strong>Website:</strong> <a href="http://www.lls.org/">lls.org</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://www.mountainfilm.org/">
                <img class="media-object" src="<%= assets %>img/Charities/Mountain_Film_Web.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Mountainfilm</h2>
                <p>Started in 1979, Telluride Mountainfilm is one of America’s longest-running film festivals. Mountainfilm is dedicated to educating, inspiring and motivating audiences about issues that matter, cultures worth exploring, environments worth preserving, adventures worth pursuing and conversations worth sustaining.</p>
                <p><strong>Website:</strong> <a href="http://www.mountainfilm.org/">mountainfilm.org</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://www.telluridetrails.org/">
                <img class="media-object" src="<%= assets %>img/Charities/Nordic_Assn_Web.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Telluride Nordic Association</h2>
                <p>The Telluride Nordic Association (TNA) is a 501(c)3 non-profit organization dedicated to the education and enhancement of Nordic skiing for individuals of all ages and abilities in the Telluride Region.</p>
                <p><strong>Website:</strong> <a href="http://www.telluridetrails.org/">telluridetrails.org</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://paytonsplayitforward.com/">
                <img class="media-object" src="<%= assets %>img/Charities/Paytons_Play_It_Forward_Web.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Payton's Play It Forward Foundation </h2>
                <p>Each year, Saints head coach Sean Payton’s foundation hosts a “Black and Gold” Gala to raise funds for family and child welfare organizations across Louisiana, Alabama, Mississippi, and Texas.</p>
                <p>Kirkendoll Management is proud to be an NFC Championship-level sponsor of this community-supporting event.</p>
                <p><strong>Website:</strong> <a href="http://paytonsplayitforward.com/">paytonsplayitforward.com</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://www.sanmiguelresourcecenter.org">
                <img class="media-object" src="<%= assets %>img/Charities/San_Miguel_Web.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">San Miguel Resource Center</h2>
                <p>Our mission is to eliminate domestic violence and sexual assault in our community through intervention services, prevention education and social change.</p>
                <p><strong>Website:</strong> <a href="http://www.sanmiguelresourcecenter.org/">sanmiguelresourcecenter.org</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://www.teamgleason.org">
                <img class="media-object" src="<%= assets %>img/Charities/Team_Gleason_Web.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">The Gleason Initiative Foundation</h2>
                <p>Steve and his friends and family started Team Gleason to generate public awareness for ALS, raise funding to empower those with ALS to live a rewarding life, and ultimately find a cure.</p>
                <p><strong>Website:</strong> <a href="http://www.teamgleason.org/">teamgleason.org</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://www.tellurideadaptivesports.org/">
                <img class="media-object" src="<%= assets %>img/Charities/Telluride_Adaptive_Sports_Web.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Telluride Adaptive Ski Program </h2>
                <p>TASP’s main activities include the adaptive ski program, a mix of focused summer sports programs, special events including the Expand Your Horizons, and a ski camp for advanced skiers with disabilities.</p>
                <p><strong>Website:</strong> <a href="http://www.tellurideadaptivesports.org/">tellurideadaptivesports.org</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://www.telluridefire.com">
                <img class="media-object" src="<%= assets %>img/Charities/Telluride_Fire_Web.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Telluride Volunteer Fire Department</h2>
                <p>Established in 1966, the Telluride Fire Protection District covers 390 square miles of mountainous terrain, encompasing the historic town of Telluride, the Town of Mountain Village, multiple bedroom communities, and the Telluride Ski Resort. Our Volunteer firefighters have been serving this community since 1878 when gold mining was the primary choice of occupation.</p>
                <p><strong>Website:</strong> <a href="http://www.telluridefire.com/">telluridefire.com</a></p>
              </div>
            </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="http://www.truenorthyouthprogram.org">
                <img class="media-object" src="<%= assets %>img/Charities/True_North_Web.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">True North Youth Program</h2>
                <p>TrueNorth Community Services is a private, nonprofit organization supported through individual donations, foundations and grants, and funding from the federal government and the State of Michigan. We provide a variety of programs and services to 63 Michigan counties, by offering more than 60 comprehensive programs and services that fall within four core areas of focus.</p>
                <p><strong>Website:</strong> <a href="http://www.truenorthyouthprogram.org/">truenorthyouthprogram.org</a></p>
              </div>
            </div>

            </div>
        </div>
    </div> <!-- row -->
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
