<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Crazy Horse Caberet Port Allen</h1>

        <ol class="breadcrumb pull-right">
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div id="carousel-example-captions" class="carousel carousel-images slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                            <img src="<%= assets %>img/CHPA_Logo.png" alt="Main Floor">
                            <div class="carousel-caption animated fadeInUpBig">
                                <h3>Crazy Horse Caberet Port Allen</h3>
                            </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <hr class="dotted hidden-md hidden-lg">
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default portfolio-item-panel">
                <div class="panel-heading">Club Details</div>
                <div class="panel-body">
                    <h4 class="no-margin-bottom">Location</h4>
                    <ul class="list-unstyled">
                        <li><strong>The Crazy Horse Port Allen</strong></li>
                        <li>2901 I-10 Frontage Road</li>
                        <li>Port Allen, LA 70767</li>
                    </ul>
                    <h4 class="no-margin-bottom">Description</h4>
                    <p>In our newly renovated club we provide an energetic and intimate feel to adult entertainment. Our parties are legendary, our food is comforting, and our entertainers are gorgeous.</p>
                    <p>Come by and see for yourself.</p>
                    <p class="text-center"><a href="http://www.crazyhorseportallen.com/" target="_blank" class="btn btn-ar btn-primary"><i class="fa fa-desktop"></i>Visit</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">Other Clubs</h2>
        </div>
        <div class="col-md-4">
            <a href="penthouse_baton_rouge.html" class="thumbnail">
                <img src="<%= assets %>img/PHBR_Logo_WHITE.png" alt="Penthouse Club Baton Rouge" class="img-responsive">
            </a>
        </div>
        <div class="col-md-4">
            <a href="crazy_horse_gonzales.html" class="thumbnail">
                <img src="<%= assets %>img/CHG_Logo.png" alt="Crazy Horse Caberet Gonzales" class="img-responsive">
            </a>
        </div>
        <div class="col-md-4">
            <a href="Crazy_Horse_Port_Allen.html" class="thumbnail">
                <img src="<%= assets %>img/CHPA_Logo.png" alt="Crazy Horse Caberet Port Allen" class="img-responsive">
            </a>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
