<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">The Penthouse Club New Orleans</h1>

        <ol class="breadcrumb pull-right">
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div id="carousel-example-captions" class="carousel carousel-images slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-captions" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                            <img src="<%= assets %>img/PHNO/Main_Floor.jpg" alt="Main Floor">
                            <div class="carousel-caption animated fadeInUpBig">
                                <h3>Main Floor</h3>
                            </div>
                            </div>
                            <div class="item">
                            <img src="<%= assets %>img/PHNO/Penthouse Club New Orleans_9724_HDR.jpg" alt="Penthouse Club New Orleans">
                            <div class="carousel-caption animated fadeInUpBig">
                                <h3>Penthouse Club New Orleans</h3>
                            </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <hr class="dotted hidden-md hidden-lg">
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default portfolio-item-panel">
                <div class="panel-heading">Club Details</div>
                <div class="panel-body">
                    <h4 class="no-margin-bottom">Location</h4>
                    <ul class="list-unstyled">
                        <li><strong>The Penthouse Club New Orleans</strong></li>
                        <li>727 Iberville Street</li>
                        <li>New Orleans, LA 70130</li>
                    </ul>
                    <h4 class="no-margin-bottom">Description</h4>
                    <p>Every year, our club in New Orleans is the top rated and reviewed topless club by tourism and industry leaders. We provide an atmosphere for almost any nightlife fantasy in our club just off Bourbon Street.</p>
                    <p>We leave it to our competitors to settle for something less, because our customers wouldn’t dream of it.</p>
                    <p class="text-center"><a href="http://penthouseclubneworleans.com/" target="_blank" class="btn btn-ar btn-primary"><i class="fa fa-desktop"></i>Visit</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">Other Clubs</h2>
        </div>
        <div class="col-md-4">
            <a href="penthouse_baton_rouge.html" class="thumbnail">
                <img src="<%= assets %>img/PHBR_Logo_WHITE.png" alt="Penthouse Club Baton Rouge" class="img-responsive">
            </a>
        </div>
        <div class="col-md-4">
            <a href="crazy_horse_gonzales.html" class="thumbnail">
                <img src="<%= assets %>img/CHG_Logo.png" alt="Crazy Horse Caberet Gonzales" class="img-responsive">
            </a>
        </div>
        <div class="col-md-4">
            <a href="Crazy_Horse_Port_Allen.html" class="thumbnail">
                <img src="<%= assets %>img/CHPA_Logo.png" alt="Crazy Horse Caberet Port Allen" class="img-responsive">
            </a>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
