<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Our Team</h1>
        <ol class="breadcrumb pull-right">
        </ol>
    </div>
</header>

<div class="container">
    <div class="col-md-12">
        <div class="title-logo animated fadeInDown animation-delay-5">Kirkendoll Management Team</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">John Kirkendoll, Founder</h2>
            <img src="<%= assets %>img/Headshots/John_small.jpg" alt="" class="imageborder alignleft">
            <p><i>John is the man with the plan.</i></p>
            <p>A graduate of Harvard Business School, John is a 30-year entrepreneur and entertainment proprietor. His business acumen, finance background, and keen ability to spot new business opportunities have helped Kirkendoll Management take its place among the top entertainment management companies in the world.</p>
            <p>John’s success allows him to support several <a href="charity.html">charities</a> doing valuable work in New Orleans and beyond. He’s also a licensed pilot, taking his Mitsubishi MU-2B-60 for a spin when his schedule permits. </p>
            <a href="http://www.linkedin.com/in/johnkirkendoll" class="btn-social sm linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Al Kirkendoll, Financial Manager</h2>
            <img src="<%= assets %>img/Headshots/Al_small.jpg" alt="" class="imageborder alignright">
            <p><i>Al’s mind for numbers is an asset to the company coffers.</i></p>
            <p>Since Kirkendoll’s founding in the 1980s, Al has helped manage the company’s financials, including payroll.</p>
            <p>A graduate of the University of Oklahoma, Al works with John and the rest of the Kirkendoll team to oversee operations at the company’s properties throughout the South.</p>
            <a href="https://www.linkedin.com/in/alkirkendoll" class="btn-social sm linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Chuck Rolling, COO</h2>
            <img src="<%= assets %>img/Headshots/Chuck_small.jpg" alt="" class="imageborder alignleft">
            <p><i>Chuck is Kirkendoll’s go-to guy on the ground — wherever that ground may be.</i></p>
            <p>Chuck joined Kirkendoll Management in 1992 as general manager. Since then, he’s traveled the country developing properties and supporting promising new ventures, from Myrtle Beach and Miami to Atlanta and Chicago.</p>
            <p>During Chuck’s 20 years with the company, Kirkendoll has seen a substantial increase in profit. In 2011, he became COO, and continues to direct development from the company’s New Orleans headquarters.</p>
            <a href="http://www.linkedin.com/in/chuckrolling" class="btn-social sm linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Leigh Wright, Marketing Director</h2>
            <img src="<%= assets %>img/Headshots/Leigh2_small.jpg" alt="" class="imageborder alignright">
            <p><i>Leigh oversees the branding and marketing identities of each distinct Kirkendoll property. </i></p>
            <p>An Alabama native, Leigh came to New Orleans in 2011. Before joining the Kirkendoll team, she dove into a career in Southern food and culture, becoming the head chef at Antoine’s Annex and writing monthly magazine columns on the South’s unique culinary history. </p>
            <p>In her two-year tenure as marketing director of Kirkendoll Management, Leigh has championed the Kirkendoll brand across digital media channels and spearheaded the creation of six new brand identities. As the company’s online exposure has grown, its marketing overhead has shrunk — thanks in part to Leigh’s shrewd direction.</p>
            <a href="http://www.linkedin.com/in/wrightleigh" class="btn-social sm linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Tim Spratt, General Counsel</h2>
            <img src="<%= assets %>img/Headshots/Tim2_small.jpg" alt="" class="imageborder alignleft">
            <p><i>Tim’s legal knowledge informs Kirkendoll Management strategy, implementation, and compliance.</i></p>
            <p>As the company’s top legal advisor for 4 years, Tim advises on a wide array of legal issues, including employment law, contract drafting and negotiation, governmental compliance, and risk management and mitigation. He oversees outside counsel, achieving consistency and quality in all of the company’s legal affairs. </p>
            <a href="http://www.linkedin.com/pub/tim-spratt/1a/6b0/b09" class="btn-social sm linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Alex Chang, CTO</h2>
            <img src="<%= assets %>img/Headshots/Alex_small.jpg" alt="" class="imageborder alignright">
            <p><i>Alex’s tech and engineering expertise ensures Kirkendoll’s industry-leading online presence.</i></p>
            <p>Alex has undergraduate education in Electrical Engineering from the University of California, Los Angeles and graduate-level training in management science for product development from Standford University. With over two decades of computer science and business intelligence experience, plus a decade of experience in product and systems development, Alex was a natural fit to direct the design and implementation of the latest technology into Kirkendoll’s club properties.</p>
            <p>Alex’s accolades include building LowerMyBills.com’s credit card debt-matching engine to help facilitate is $350 million acquisition by Experian, and designing the most advanced biometric security systems for the Department of Defense. He has the rare ability to parlay his engineering skills into value creation on both the business and consumer levels.</p>
            <a href="http://www.linkedin.com/in/alexchangprofile" class="btn-social sm linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Nicey Simoneaux, Executive Assistant</h2>
            <img src="<%= assets %>img/Headshots/Nicey.png" alt="" class="imageborder alignleft">
            <p><i>Nicey’s foresight and administrative support sustain Kirkendoll’s office operations.</i></p>
            <p>Planning and organization are key elements of every successful office, and this is where Nicey excels. With years of experience in accounting, financial insurance, and other professional arenas, she motivates the Kirkendoll Management team to offer our best work on a daily basis.</p>
            <a href="http://www.linkedin.com/pub/nicey-simoneaux/7/62a/130" class="btn-social sm linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
    </div> <!-- row -->
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
